@model IEnumerable<StudentNumberCourseViewModel>
@{
    ViewData["Title"] = "StudentNumberCourse";
}

<div>

    <h4>Courses</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Students" asp-action="StudentNumberCourse" method="post">
                <div>
                    <label for="StudentId">Student</label>
                    <select name="StudentId" class="form-control" asp-items="@ViewBag.Stundent"></select>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>

                <th>
                    Student Name
                </th>
                <th>
                    Number of courses
                </th>
                <th>
                    Total price
                </th>
                <th>
                    Avarege price
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumCourse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvaregePrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>